@media screen and (min-width: 768px) {
    html {
        height: 100%;
    }

    body {
        width: 100%;
        min-height: 100vh;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Noto Sans JP", sans-serif;
    }

    header {
        width: 70%;
        height: 72px;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #e0e0e0;

        ul {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 12px;
            justify-content: space-between;

        }

        li {
            width: auto;
            height: auto;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li a {
            position: relative;
            text-decoration: none;
            display: inline-block;
            color: #122939;
            font-size: 12px;
            font-weight: 700;
            font-family: "Noto Sans JP", sans-serif;
            margin-left: 12px;
            opacity: 1;
        }

        li a::after {
            background-color: #fff580;
            position: absolute;
            content: "";
            height: 2px;
            left: 0;
            bottom: -4px;
            left: 4px;
            opacity: 0;
            transition: all .3s;
            width: 0%;
        }

        li a:hover::after {
            opacity: 1;
            width: 100%;
            left: 0px;
        }

        li p {
            display: flex;
            align-items: start;
            margin-top: 3%;
        }

        li select {
            text-align: center;
            border: none;
            font-size: 12px;
            font-weight: 700;
            font-family: "Noto Sans JP", sans-serif;
            text-decoration: none;
            margin: 0;
            padding: 0;
        }

        .hunberger {
            opacity: 0;
        }

        .header-button {
            margin-left: 12px;
            padding: 10px 20px;
            font-size: 12px;
            font-weight: 700;
            font-family: "Noto Sans JP", sans-serif;
            background-color: #e5592e;
            border: none;
            border-radius: 8px;
            color: #fff;
            opacity: 1;
        }

        .header-button:hover {
            background-color: #be4e2c;
        }
    }

    main {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .service {
        width: 100%;
        margin: 48px 0;
        padding: 24px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #eaeaea;
    }

    .servise-description {
        width: 70%;
        display: flex;
        flex-direction: column;
        padding: 24px 0 12px 0;
    }

    .logo {
        height: 50%;
        object-fit: cover;
        margin-top: 12px;
    }

    h1 {
        font-size: 32px;
        padding: 16px 0;
    }

    p {
        padding: 4px 0;
    }

    strong {
        padding: 12px;
    }


    select {
        padding: 0;
        appearance: menulist-button;
    }


    li select:hover {
        color: #959797;
    }

    .header-button {
        margin-left: 12px;
        padding: 10px 20px;
        font-size: 12px;
        font-weight: 700;
        font-family: "Noto Sans JP", sans-serif;
        background-color: #e5592e;
        border: none;
        border-radius: 8px;
        color: #fff;
    }

    .header-button:hover {
        background-color: #be4e2c;
    }

    .container {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .item {
        width: 30%;
        margin: 12px;
        border-radius: 8px;

        img {
            width:100%;
            border-radius: 8px;
        }
    }

    .item :hover {
        opacity: 0.7;
    }

    .item-off {
        opacity: 0;
    }

    .home { 
        text-decoration: none;
        font-weight: 700;
        padding:32px 0;
        color:#122939;
    }
}



@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
        width: 100%;
    }

    header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        flex-direction: row;
        border-bottom: 1px solid #e0e0e0;

        li {
            opacity: 0;
        }

        li a {
            font-size: 10px;
            font-weight: 700;
            margin-left: 20px;
            opacity: 0;
            list-style: none;
        }

        li select {
            text-align: center;
            border: none;
            font-size: 10px;
            opacity: 0;
        }

    }

    .logo {
        width: 40%;
        object-fit: cover;
        margin-top: 12px;
    }

    .header-button {
        opacity: 0;
    }

    .hunberger {
        opacity: 1;
        font-size: 32px;
    }

    h1 {
        font-size: 16px;
        padding: 16px 0;
    }

    p {
        padding: 4px 8px;
        font-size: 12px;
    }

    strong {
        padding: 12px;
    }

    .service {
        width: 100%;
        margin: 48px 0;
        padding: 24px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #eaeaea;
    }

    .servise-description {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 24px 0 12px 0;
    }

    .container {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .item {
        width: 96%;
        margin: 4px;
        border-radius: 8px;

        img {
            width:100%;
            border-radius: 8px;
        }
    }

    .home { 
        text-decoration: none;
        font-weight: 700;
        padding:32px 0;
        color:#122939;
    }
}